 .container {
   margin-inline: auto;
   max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
   padding-inline: var(--container-padding-x);
   display: flex;
   position: relative;

   @include desktop {
     margin-inline: 0;
     width: 100%;
   }

   @include mobile-s {
     height: 100%;
     padding-inline: 0;
   }
 }

 .visually-hidden {
   @include visually-hidden;
 }

 .hidden-mobile-s {
   @include mobile-s {
     display: none !important;
   }
 }

 .visible-mobile {
   @include mobile-above {
     display: none !important;
   }
 }

 .visible-mobile-s {
   @include mobile-s-above {
     display: none !important;
   }
 }

 .current {
   color: var(--color-accent);
   text-decoration: underline;
 }

 .category {
   max-width: fit-content;
   font-size: 16px;
   color: var(--color-accent);
   padding: 8px 16px;
   background-color: rgba(var(--color-accent-rgb), 0.05);
   border-radius: var(--border-radius-sml);

   &:hover {
     background-color: rgba(var(--color-accent-rgb), 0.15);
   }

 }

 .date {
   font-size: 16px;
 }

 .article-container,
 .subscribe-container {
   position: relative;
   padding: var(--container-padding);
   background-color: var(--color-white);
   border-radius: var(--border-radius);
   overflow-y: hidden;

   .date {
     position: absolute;
     top: 0;
     right: 0;
     padding: var(--content-gap);

   }

   &:hover {
     box-shadow: var(--shadow-hover);
   }
 }

 .article-container {
   &:focus {
     outline: var(--border-focus);
   }
   @include mobile {
    
    .articles__item {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .date {
      position: relative;
      margin-top: auto;
      padding: 0 !important;
    }

   }
   @include mobile-s {
     margin-inline: 20px;
   }
 }


 .subscribe-container {
   padding: 40px 30px 50px;

   @include tablet {
     padding-inline: 14.45vw;
   }

   @include mobile {
     padding-inline: 20px;
   }

 }

 .title {

   margin-top: 30px;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }

 .text {

   margin-top: 20px;
   display: -webkit-box;
   -webkit-line-clamp: 6;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }

 hr {
   width: 100%;
   color: var(--color-text-dark);
 }

 .form-input {
   background-color: var(--color-form-input);
   padding-block: 13px;
   padding-inline: min(1.28vw, 30px);
   border-radius: var(--border-radius);
   width: 100%;

   @include desktop-above {
     padding-inline: 30px;
   }

   @include mobile-s {
     width: 280px;
   }
 }

 .form-btn {
   width: 100%;
   padding-block: 13px;
   padding-inline: min(2.98vw, 68px);
   background-color: var(--color-accent);
   border-radius: var(--border-radius);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: min(0.69vw, 10px);
   color: var(--color-white);

   @include tablet {
     gap: 10px;
   }

   @include mobile-s {
     width: 280px;
   }
 }

 .logo {
   @include mobile-s {
     width: 30px;
     height: 30px;
   }
 }