 .container {
   margin-inline: auto;
   width: calc(var(--container-width) + var(--container-padding-x) * 2);
   padding-inline: var(--container-padding-x);
   display: flex;
 }

 .visually-hidden {
   @include visually-hidden;
 }

 .hidden-mobile {
   @include mobile {
     display: none !important;
   }
 }

 .visible-mobile {
   @include mobile-above {
     display: none !important;
   }
 }

 .nav {
   &__item:hover {
     color: var(--color-accent);
   }
 }
 .current {
     color: var(--color-accent);
     text-decoration: underline;
   }

 .category {
   max-width: fit-content;
   font-size: 16px;
   color: var(--color-accent);
   padding: 8px 16px;
   background-color: rgba(var(--color-accent-rgb), 0.05);
   border-radius: var(--border-radius-sml);

   &:hover {
     background-color: rgba(var(--color-accent-rgb), 0.15);
   }
  
 }

 .date {
   font-size: 16px;
 }

 .article-container,
 .subscribe-container {
   position: relative;
   padding: var(--content-gap);
   background-color: var(--color-white);
   border-radius: var(--border-radius);
  overflow-y: hidden;
   .date {
     position: absolute;
     top: 0;
     right: 0;
     padding: var(--content-gap);
   }

   &:hover {
     box-shadow: var(--shadow-hover);
   }
 }

 .article-container:focus {
   outline: var(--border-focus);
 }

 .subscribe-container {
   padding: 40px 30px 50px;
 }

 .title {
   margin-top: 30px;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }

 .text {
   margin-top: 20px;
   display: -webkit-box;
   -webkit-line-clamp: 6;
   -webkit-box-orient: vertical;
   overflow: hidden;
 }

 hr {
   width: 100%;
   color: var(--color-text-dark);
 }

 .form-input {
   background-color: var(--color-form-input);
   padding: 13px 32px 13px 30px;
   border-radius: var(--border-radius);
   width: 100%;
 }

 .form-btn {
   width: 100%;
   padding: 13px 68px;
   background-color: var(--color-accent);
   border-radius: var(--border-radius);
   display: flex;
   align-items: center;
   gap: 10px;
   color: var(--color-white);
 }